.table-responsive {
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

.table {
    margin: 0 auto;
    width: 85%;
    background-color: white;
}

.thead-inverse {
    background-color: rgb(27, 218, 224);
    font-size: 10pt;
    color: black;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
    font-size: 12pt;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

.opt {
    background-color: darkgreen;
    color: #ffff;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
    border: none;
    margin-right: 3pt;
}


.opt1 {
    background-color: darkred;
    color: #ffff;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
    border: none;
}